<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>本网站受美国法律保护</title>
</head>
<body>
        <footer class="footer navbar-fixed-bottom" data-th-fragment="footer">
            <div class="alert alert-dark" role="alert">
                <div align="center" class="container">
                    A simple primary alert with <a href="http://young1214.pythonanywhere.com/" th:href="@{http://www.baidu.com}" class="alert-link">
                    本网站受美国法律保护，未满18周岁请离开</a>. Give it a click if you like.
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="../../js/popper.min.js"></script>

            <!-- JavaScript -->
            <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
            <script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
            <script src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
            <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
            <script src="../../js/nprogress.js" th:src="@{/js/nprogress.js}"></script>
            <script src="../../js/thinker-md.vendor.min.js" th:src="@{/js/thinker-md.vendor.min.js}"></script>
            <script src="../../js/bootstrap-tagsinput.js" th:src="@{/js/jquery.tagsinput.min.js}"></script>
            <script src="../../js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>
            <script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
            <script src="../../js/cropbox.js" th:src="@{/js/cropbox.js}"></script>
            <script src="../../js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
            <script src="../../js/catalog-generator.js" th:src="@{/js/catalog-generator.js}"></script>
            <script src="../../js/main.js" th:src="@{/js/main.js}"></script>
        </footer>

</body>
</html>