<!DOCTYPE html>
<html lang="en" data-th-fragment="header" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


    <title>Title</title>
    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"  rel="stylesheet"/>
    <link href="../../css/body.css" th:href="@{/css/body.css}"  rel="stylesheet"/>
    <link href="../../css/blog.css" th:href="@{/css/blog.css}" rel="stylesheet"/>

    <!-- Tether core CSS -->
    <link href="../../css/tether.min.css" th:href="@{/css/tether.min.css}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Font-Awesome CSS -->
    <link href="../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">

    <!-- NProgress CSS -->
    <link href="../../css/nprogress.css" th:href="@{/css/nprogress.css}" rel="stylesheet">

    <!-- thinker-md CSS -->
    <link href="../../css/thinker-md.vendor.css" th:href="@{/css/thinker-md.vendor.css}" rel="stylesheet">

    <!-- bootstrap tags CSS -->
    <link href="../../css/bootstrap-tagsinput.css" th:href="@{/css/jquery.tagsinput.min.css}" rel="stylesheet">

    <!-- bootstrap chosen CSS -->
    <link href="../../css/component-chosen.min.css" th:href="@{/css/component-chosen.min.css}" rel="stylesheet">

    <!-- toastr CSS -->
    <link href="../../css/toastr.min.css" th:href="@{/css/toastr.min.css}" rel="stylesheet">

    <!-- jQuery image cropping plugin CSS -->
    <link href="../../css/cropbox.css" th:href="@{/css/cropbox.css}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../../css/thymeleaf-bootstrap-paginator.css" th:href="@{/css/thymeleaf-bootstrap-paginator.css}"
          rel="stylesheet">
    <link href="../../css/blog.css" th:href="@{/css/blog.css}" rel="stylesheet">
    <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/" th:href="@{/}">Loveyouso</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" th:attr="url='/blogs?order=new'">最新
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" th:attr="url='/blogs?order=hot'">最热</a>
                </li>

                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="a-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                        <span sec:authentication="name"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" th:href="@{'/u/' + ${#authentication.principal.username}}">个人主页</a>
                        <a class="dropdown-item" href="#"
                           th:href="@{'/u/' + ${#authentication.principal.username}} + '/profile'">个人设置</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>

                <li class="nav-item">
                    <!--<a class="nav-link disabled" href="#">&#45;&#45;&#45;&#45;</a>-->
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" th:value="${keyword}" id="indexsearch" type="submit">
                        Search
                    </button>
                </form>
            </ul>

            <div sec:authorize="isAuthenticated()">
                <a href="/u/waylau/blogs/edit"
                   th:href="'/u/' + ${#authentication.principal.username} + '/blogs/edit'"
                   class="btn btn-outline-success my-2 my-sm-0">写博客</a>
            </div>

            <form action="/logout" th:action="@{~/logout}" method="post" sec:authorize="isAuthenticated()">
                <input class="btn btn-outline-success " type="submit" value="退出">
            </form>


            <form class="navbar-form navbar-left" sec:authorize="isAnonymous()">
                <div class="input-group">
                            <span class="input-group-btn">
                                <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                    登录
                                </a> </span>
                </div>
            </form>
            <form class="navbar-form navbar-left" sec:authorize="isAnonymous()">
                <div class="input-group">
                            <span class="input-group-btn">
                                <a href="/register" class="btn btn-outline-success my-2 my-sm-0 disabled" role="button" type="submit">
                                    注册
                                </a> </span>
                </div>
            </form>
        </div>
    </nav>
    <br/>
</body>
</html>